[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django = "*"
pillow = "*"
psycopg2-binary = "*"
whitenoise = "*"
dj-database-url = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.8"
